# exclude everything
src/__pycache__/*
src/data_generator/*
src/documents/*
src/output/*
src/output_article600/*
src/output_article550/*
src/output*/*
src/Utils.pyc
*.pyc
desktop.ini

# exception to the rule
!src/documents/.gitkeep
src/Utils.pyc
